<footer class="footer">
    <p style="text-align:left;">Copyright © 2019 @ngstmnn
      <span style="float:right;">Some icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
    </p>
</footer>
