<header class="header" role="banner">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
              👻👨🏼 // {{site.title}}
            </a>
        </div>
    </nav>
</header>
